In [3]:
import pandas as pd

In [4]:
DATA_PATH = "../data/IOT-temp.csv"

In [30]:
df = pd.read_csv(DATA_PATH)
df.head()

,id,room_id/id,noted_date,temp,out/in
0,__export__.temp_log_196134_bd201015,Room Admin,08-12-2018 09:30,29,In
1,__export__.temp_log_196131_7bca51bc,Room Admin,08-12-2018 09:30,29,In
2,__export__.temp_log_196127_522915e3,Room Admin,08-12-2018 09:29,41,Out
3,__export__.temp_log_196128_be0919cf,Room Admin,08-12-2018 09:29,41,Out
4,__export__.temp_log_196126_d30b72fb,Room Admin,08-12-2018 09:29,31,In

### 1. Вычислите 5 самых жарких и самых холодных дней за год

In [31]:
out = df[df["out/in"] == "Out"]
tmp = out[["noted_date", "temp"]].groupby(by="noted_date")\
        .mean() \
        .reset_index() \
        .sort_values(by="temp") \
        .reset_index(drop=True)

In [32]:
tmp.head(5)

         noted_date  temp
0  05-09-2018 07:28  24.0
1  05-09-2018 07:29  24.0
2  07-12-2018 14:11  25.0
3  10-09-2018 21:11  25.5
4  06-09-2018 12:42  25.5

In [33]:
tmp.tail(5)

             noted_date  temp
22600  28-09-2018 22:45  50.0
22601  29-09-2018 19:34  50.0
22602  30-09-2018 13:53  50.0
22603  30-09-2018 17:29  51.0
22604  30-09-2018 17:13  51.0

### 2 Отфильтруйте out/in = in

In [34]:
df = df[df["out/in"] == "In"]
df.reset_index(inplace=True, drop=True)
df.head()

,id,room_id/id,noted_date,temp,out/in
0,__export__.temp_log_196134_bd201015,Room Admin,08-12-2018 09:30,29,In
1,__export__.temp_log_196131_7bca51bc,Room Admin,08-12-2018 09:30,29,In
2,__export__.temp_log_196126_d30b72fb,Room Admin,08-12-2018 09:29,31,In
3,__export__.temp_log_196125_b0fa0b41,Room Admin,08-12-2018 09:29,31,In
4,__export__.temp_log_196121_01544d45,Room Admin,08-12-2018 09:28,29,In

### 3. Поле noted_date переведите в формат ‘yyyy-MM-dd’ с типом данных date;

In [37]:
date = pd.to_datetime(df["noted_date"], format="%d-%m-%Y %H:%M")
df["date"] = date.dt.date

df.head()

,id,room_id/id,noted_date,temp,out/in,date
0,__export__.temp_log_196134_bd201015,Room Admin,08-12-2018 09:30,29,In,2018-12-08
1,__export__.temp_log_196131_7bca51bc,Room Admin,08-12-2018 09:30,29,In,2018-12-08
2,__export__.temp_log_196126_d30b72fb,Room Admin,08-12-2018 09:29,31,In,2018-12-08
3,__export__.temp_log_196125_b0fa0b41,Room Admin,08-12-2018 09:29,31,In,2018-12-08
4,__export__.temp_log_196121_01544d45,Room Admin,08-12-2018 09:28,29,In,2018-12-08

### 4. Очистите температуру по 5-му и 95-му процентилю

In [38]:
p05 = df.temp.quantile(0.05)
p95 = df.temp.quantile(0.95)

df = df[(df.temp > p05) & (df.temp < p95)]
df.reset_index(inplace=True, drop=True)
df.head()

,id,room_id/id,noted_date,temp,out/in,date
0,__export__.temp_log_196134_bd201015,Room Admin,08-12-2018 09:30,29,In,2018-12-08
1,__export__.temp_log_196131_7bca51bc,Room Admin,08-12-2018 09:30,29,In,2018-12-08
2,__export__.temp_log_196126_d30b72fb,Room Admin,08-12-2018 09:29,31,In,2018-12-08
3,__export__.temp_log_196125_b0fa0b41,Room Admin,08-12-2018 09:29,31,In,2018-12-08
4,__export__.temp_log_196121_01544d45,Room Admin,08-12-2018 09:28,29,In,2018-12-08